<!-- Hero -->
<section class="et-hero-tabs">
  <h1>Proyecto Angular</h1>
  <br>
  <h3>Autor: Jhorman Andres Theran Oviedo</h3>
  <h3>Grupo : E191</h3>
  <div class="et-hero-tabs-container">
    <a class="et-hero-tab" routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a class="et-hero-tab" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
    <a class="et-hero-tab" routerLink="/contactenos" routerLinkActive="active">Contáctenos</a>
    <a class="et-hero-tab" routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a>
    <span class="et-hero-tab-slider"></span>
  </div>
</section>


<router-outlet></router-outlet>
